@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #030303;
  font-family: "JetBrains Mono", monospace;
}

@keyframes rainbow {
  0% { color: #ff0000; }
  14% { color: #eaff00; }
  28% { color: #00ff40; }
  42% { color: #00d0ff; }
  57% { color: #6a00ff; }
  71% { color: #ff0090; }
  85% { color: #ff8400; }
  100% { color: #ff0000; }
}

.rainbow-char {
  animation: rainbow 1s linear infinite;
}

.crt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; 
  pointer-events: none; 
  
  
  background: linear-gradient(
    rgba(80, 80, 80, 0) 50%, 
    rgba(94, 94, 94, 0.25) 50%
  ), 
  
  linear-gradient(
    90deg, 
    rgba(255, 0, 0, 0.06), 
    rgba(0, 255, 0, 0.02), 
    rgba(0, 0, 255, 0.06)
  );
  
  background-size: 100% 4px, 6px 100%; 
  animation: flicker 0.15s infinite;
}


@keyframes flicker {
  0% { opacity: 0.95; }
  50% { opacity: 0.92; }
  100% { opacity: 0.96; }
}

.retro-text-glow {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
}